#caixa_verde, #caixa_azul, #caixa_amarelo, #caixa_vermelho {
position: absolute;
           width: 100px;
           height: 100px;
}
#caixa_verde {
    background-color: rgb(21, 199, 15);
       top: 100px;
       left: 50px;
       z-index: 0;
       opacity: 1
    }

    #caixa_azul {
        background-color: rgb(15, 218, 207);
           top: 125px;
           left: 75px;
           z-index: 1;
           opacity: 0.75
        }
    
    
        #caixa_amarelo {
            background-color: rgba(251, 255, 0, 0.932);
            top: 150px;
            left: 100px;
            z-index: 2;
            opacity: 0.5
        }

        #caixa_vermelho {
            background-color: rgba(255, 0, 0, 0.932);
            top: 175px;
            left: 125px;
            z-index: 3;
            opacity: 0.25
        }