body {
    background-color: #6b3186
}

#grid-container {
    display: grid;
    grid-template-columns: auto auto;
    width: 80%;
    border: 10px double #ee3a3a;
    margin: auto;
    border-radius: 15px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
} 

#titulo {
    text-align: center;
    font-family: "Comic Sans MS";
    font-size: 2em;
    color: #3d48e7
}

.link {
    font-family: tahoma;
    font-size: 1.1em;
    color: #e79a9a;
    text-decoration: none;
}

.link:hover {
    color: #ffee00;
}

#cidade_londres, #cidade_paris, #cidade_toquio, #cidade_moscou {
    width: 55%;
    margin: auto;
    border-radius: 25px;
    text-align: center;
    opacity: 0.4;    
}

#cidade_londres:hover, #cidade_paris:hover, #cidade_toquio:hover, #cidade_moscou:hover {
    opacity: 1;
}

#cidade_londres {
    border: 2px solid #fbff00;
    margin-bottom: 20px; 
}

#cidade_paris {
 border: 2px solid #7df165;
}

#cidade_toquio {
    border: 2px solid #0004ff;
}

#cidade_moscou {
    border: 2px solid #ff0000;
}

.paragrafo {
    font-family: verdana;
    font-size: 0.8em;
    color: #d3c60d;
    font-weight: bold;
}